


/*
font-family: 'Dosis', sans-serif;
font-family: 'Merriweather', serif;
*/

*{
	box-sizing: border-box;
}


/*----- images ------*/
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.header-image{

  
  background-image: url(../images/exhibition/soloExhibition/nepalRecovery/img6.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:250px;
  


}

.top-header .name h1{
	font-family: 'Merriweather', serif;
}


.main{
	padding:50px 10px 50px 10px;
	text-align: center;
}

.main h1{
	font-size: 45px;
	font-family: 'Dosis', sans-serif;
	text-decoration: underline;
	color:#ff0000;

}

.main img{
	max-width: 100%
}

.allimages{
	margin-top: 50px;
}

.three-images, .two-images{
	overflow: hidden;
}

.image3,.image4,.image5{
	float: left;
	width:33.3333333%;
	padding:10px;
}

.image7{
	float:left;
	width:50%;
}

.image8{
	float:left;
	width:50%;
	padding:10px;
}



/*----- footer ------*/

footer div{
	height:200px;
	border-top: 1px solid #dcdcdc;
	background-color: #fffafa;
	
}










